html{
    background-color: rgba(20, 83, 155, 0.918);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
}
*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
 .box nav header{
  align-items:flex-start;
  justify-content: flex-end; 
}
body{
  display: flex;
  flex-wrap: wrap;
  font-family: 'Times New Roman', Times, serif;
}
.box1{
  background-image: url(../img/home.jpg);
  background-position:unset;
  background-size: cover; 
  width: 1000px;
  height: 550px;
  border: whitesmoke;
  margin: auto;
  margin-top:100px;
}
.box h4{
  justify-content: flex-end;
  left: 25rem;
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 0px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.377);
  color:white;
  opacity: .8;
  font-size: 30px;
} 
.box h5{
  justify-content: flex-end;
  left: 25rem;
  position: relative;
  margin-left: 30px;
  margin-right: 0px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.342);
  color: whitesmoke;
  font-size: 22px;
}
.box h6{
  justify-content: flex-end;
  left: 32rem;
  position: relative;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-right: 0px;
  font-weight: bold;
  color:wheat;
  font-size: 20px;
}
 .box1 .box button {
  appearance: button;
  text-rendering: auto;
  color:white;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display:flex;
  justify-content: flex-end;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color:rgba(105, 23, 105, 0.836);
  box-sizing: content-box;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  padding: 1px 6px;
  border-width: 2px;
  border-style: none;
  margin-left: 150px;
  left: 40rem;
  position: fixed;
  border-radius: 15px;
  opacity: .8;
}
.box1{
  display: flex;
  justify-content: right;
}
.box1 .box{
  width: 600px;
  height: 400px;
  padding-left: 0px;
  margin-left:0px;
  margin-top: 0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:100px;
  border-top-right-radius:200px;
  border-bottom-right-radius:200px;
  background-image: url(../img/homeimg.jpg);
  background-position:unset;
  background-size: cover; 
}
.box1.box nav{
  background-color:rgba(0, 0, 255, 0.466);
  height: 0px;
  width: 30%;
  opacity: .8;
  display:flex;
  justify-content:flex-start;
  text-shadow: rgba(0, 0, 255, 0.466);
}
.box label.logo{
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  float:inline-end;
  line-height: 20px;
  padding-left: auto;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:auto;
  background-color: rgba(0, 0, 255, 0.466);
  opacity: .8;
  margin-right:0px;
}
.box nav header ul{
  display: flex;
justify-content: flex-end;
left: 24rem;
position: relative;
flex-wrap: wrap; 
}
.box nav ul li{
display: inline-block;
line-height: 40px;
margin-left: auto;
opacity: .8;
text-align: right;
justify-content: flex-end;
}
.box nav ul li a{
color:white;
font-size: 20px;
padding: 10px auto;
border-radius: 7px;
text-transform: uppercase;
margin-right: auto;
}
a.active,a:hover{
background-color:rgba(128, 0, 128, 0.616);
}